<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_pause_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{955,1726},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pause_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1026,1726},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_restart_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,148}</string>
                <key>spriteSourceSize</key>
                <string>{431,148}</string>
                <key>textureRect</key>
                <string>{{1502,486},{431,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_restart_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,148}</string>
                <key>spriteSourceSize</key>
                <string>{431,148}</string>
                <key>textureRect</key>
                <string>{{1652,486},{431,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{737,1024}</string>
                <key>spriteSourceSize</key>
                <string>{737,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{737,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{1012,760}</string>
                <key>spriteSourceSize</key>
                <string>{1024,774}</string>
                <key>textureRect</key>
                <string>{{740,1},{1012,760}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{873,709}</string>
                <key>spriteSourceSize</key>
                <string>{873,709}</string>
                <key>textureRect</key>
                <string>{{955,1015},{873,709}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,952}</string>
                <key>spriteSourceSize</key>
                <string>{778,952}</string>
                <key>textureRect</key>
                <string>{{1,1027},{778,952}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1793,1},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1793,33},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,289}</string>
                <key>spriteSourceSize</key>
                <string>{483,289}</string>
                <key>textureRect</key>
                <string>{{1502,1},{483,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1829,1806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b95c15d6aeceeaa5d28815c430330b8:ef926d2b6b920b0cfa95233f4a733e04:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
